@charset "utf-8";

// Define color variants
$enetrobots-black: #000004;
$dark-color: #222;
$orange-color: #ff702a;
$white-color: #fff;
$red-color: #ff3d3d;
$blue-color: #242498;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
