<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center contact-text">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary contact-text">
                <p>If you want to reach us, we are also available on:</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center contact-text">
                <a href="https://facebook.com/CR.ENETCOM">
                    <i class="fa-brands fa-facebook fa-3x wow bounceIn contact-text" data-wow-delay=".1s"></i>
                    <p class="contact-text">CR.ENETCOM</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center contact-text">
                <a href="https://instagram.com/CR.ENETCOM">
                    <i class="fa-brands fa-instagram fa-3x wow bounceIn contact-text" data-wow-delay=".1s"></i>
                    <p class="contact-text">CR.ENETCOM</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center contact-text">
                <a href="https://www.youtube.com/@CR.ENETCOM">
                    <i class="fa-brands fa-youtube fa-3x wow bounceIn contact-text" data-wow-delay=".1s"></i>
                    <p class="contact-text">@CR.ENETCOM</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center contact-text">
                <a href="mailto:robotic.club.enetcom@gmail.com">
                    <i class="fa-solid fa-envelope fa-3x wow bounceIn contact-text" data-wow-delay=".1s"></i>
                    <p class="contact-text">robotic.club.enetcom@gmail.com</p>
                </a>
            </div>
        </div>
    </div>
</section>
