<section id="enetrobots">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">The Pharaonic Tomb</h2>
                <hr class="primary">
                <img class="competition-banner" src="img/enetrobots/linefollower.jpg">
                <p>
                    Do you think that an Indiana Jones movie is the only place you will find adventurers seeking ancient
                    treasures guarded by a dangerous maze? Think again. One of the most fantastic mazes in the ancient
                    world was actually buried deep within an Egyptian pyramid. It protected the mummy of Pharaoh
                    Amemenhet III—and the golden treasures contained in his burial chamber—from tomb robbers.
                    So are you ready to dive into this mysterious world?
                </p>
                <a href="enetrobots/linefollower" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">Maya Sacbe</h2>
                <hr class="primary">
                <img class="competition-banner" src="img/enetrobots/allterrain.jpg">
                <p>
                    The Maya left us a cultural legacy that we continue to admire and explore today. Proof of this is
                    the “white roads” that we can still find in some archaeological sites such as Chichén Itzá, Cobá,
                    and Dzibilchaltún. To walk along one of these is to literally walk in the footsteps of the Maya and
                    discover an authentic example of their marvellous engineering, along with the commercial and mystic
                    splendor which surrounded them.
                    So are your robots ready to sweep the Maya sacbe!
                    Fasten your belts and let the game start!
                </p>
                <a href="enetrobots/allterrain" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">Vikings Battle</h2>
                <hr class="primary">
                <img class="competition-banner" src="img/enetrobots/sumo.jpg">
                <p>
                    Invaders, predators, barbarians – the Vikings are often portrayed merely as one-dimensional warriors
                    whose achievements include little more than plundering and raiding. But from where did the Vikings
                    originate and were they really violent, godless pagans?
                    That image was magnified by those who wrote about the Viking attacks – in other words, their
                    victims.
                    So are you ready for the Vikings war?
                </p>
                <a href="enetrobots/sumo" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
</section>