<section id="enetrobots">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">NANOBOT</h2>
                <hr class="primary">
                <img class="competition-banner" src="/assets/images/enetrobots-3/linefollower.jpg">
                <p>
                    Les nanobot sont des dispositifs autonomes
                    destinés à effectuer des tâches précises.

                    Pour rappeler, les robots sont des dispositifs
                    autonomes destinés à effectuer des tâches
                    précises.

                    Les nanobots peuvent donc correspondre à
                    des nanomoteurs, des nano actionneurs ou
                    encore des nanocapteurs.

                    Par ailleurs, en équivalence à la
                    manipulation d’objets chez les robots
                    ordinaires, les nanobots assemblent des
                    pièces de taille nanométrique, manipulent des
                    cellules ou des molécules biologiques.

                    Dans cette challenge les robots suiveurs
                    vont jouer le rôle de nanobot et ayant pour
                    mission la détection des molécules d’ADN.
                </p>
                <a href="linefollower" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">BRAINBOT</h2>
                <hr class="primary">
                <img class="competition-banner" src="/assets/images/enetrobots-3/junior.jpg">
                <p>
                    La robotique prend de l'ampleur dans de
                    nombreuses écoles du monde entier.

                    Elle permet aux élèves de tirer d'énormes
                    bénéfices, non seulement pour le présent, mais
                    aussi pour l'avenir.

                    ENETRONOTS offre la chance aux Juniors
                    d'exercer la robotique dans un monde de
                    compétition plein d'aventures et experiences
                    inoubliables.
                </p>
                <a href="junior" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">FARMBOT</h2>
                <hr class="primary">
                <img class="competition-banner" src="/assets/images/enetrobots-3/allterrain.jpg">
                <p>
                    Pour le challenge de tout terrain nous avons
                    choisi l’évolution de la robotique dans le domaine
                    agricole.

                    En effet, la robotique, grâce à l’autonomie
                    grandissante des robots, est de nos jour la
                    méthode adoptée pour répondre à des contraintes
                    bien connues du monde agricole :
                    ·Réduire la pénibilité de certaines tâches (la
                    traite, le désherbage, la taille, la récolte...).

                    ·Optimiser le temps de travail de production
                    pour pouvoir se consacrer à d’autres fonctions
                    comme la commercialisation et profiter de plus de
                    temps libre.

                    ·Optimiser le rendement.

                    Dans cette compétitons vos robots vont
                    explorer le rôle d’un robot agricole en achevant
                    des tâches et missions cité ci-après.
                </p>
                <a href="allterrain" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center competition-box">
                <h2 class="section-heading">FACTORYBOT</h2>
                <hr class="primary">
                <img class="competition-banner" src="/assets/images/enetrobots-3/fighter.jpg">
                <p>
                    Comme nous l'avons vu, l'évolution de
                    l'industrie a été impulsée par une recherche
                    constante de nouvelles manières plus efficaces
                    de produire et d'échanger des services.

                    Cela a récemment conduit à l'émergence de
                    nouvelles technologies, notamment dans le
                    domaine de la robotique.

                    La compétition à laquelle nous allons
                    assister, témoigne des évolutions réalisées
                    dans ce domaine.

                    Chaque joueur et son robot représentent
                    une vision de ce que l'avenir nous réserve,
                    lorsqu'ils pénètrent dans l'arène, ils sont prêts
                    à s'affronter dans un combat qui secouera les
                    fondations de l'industrie.

                    Qui remportera la victoire, s'assurant ainsi
                    une place dans les annales de l'industrie en
                    tant que pionnier de l'évolution de la
                    technologie ?
                </p>
                <a href="fighter" class="btn btn-download btn-xl page-scroll">Specifications &
                    Registration</a>
            </div>
        </div>
    </div>
</section>