<section id="enetrobots">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Smart Road</h2>
                <hr class="primary">
                <p>
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description.
                </p>
                <a href="enetrobots-linefollower" class="btn btn-primary btn-xl page-scroll">Cahier des charges & Lien d'inscription</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Catch me if you can</h2>
                <hr class="primary">
                <p>
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description.
                </p>
                <a href="enetrobots-allterrain" class="btn btn-primary btn-xl page-scroll">Cahier des charges & Lien d'inscription</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">King of the Hill</h2>
                <hr class="primary">
                <p>
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description. Description. Description. Description.
                    Description. Description. Description. Description.
                </p>
                <a href="enetrobots-sumo" class="btn btn-primary btn-xl page-scroll">Cahier des charges & Lien d'inscription</a>
            </div>
        </div>
    </div>
</section>