<section class="bg-primary" id="competition">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="competition-logo" src="/img/competition-logo.jpg">
                <h2 class="section-heading">ENET ROBOTS 2.0</h2>
                <h1 id="countdown" style="font-size: 65px;">Welcome</h1>
                <hr class="light">
                <p class="text-faded">After our first exceptional edition, ENET ROBOTS is coming soon in its 2nd
                    edition.
                    So be numerous and prove that you're among the best competitors, who will guide their teams to
                    victory.
                    Don't miss this opportunity to show your skills. Be present at our robotics day which will take
                    place on
                    February 23, 2020 at the National School of Electronics and Telecommunications of Sfax.</p>
                <a href="enetrobots" class="btn btn-default btn-xl">Specifications & Registration</a>
            </div>
        </div>
    </div>
</section>