<section class="bg-primary" id="competition">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class="competition-logo" src="img/competition-logo.jpg">
                <h2 class="section-heading">ENET ROBOTS 2.0</h2>
                <h1 id="countdown" style="font-size: 65px;">Welcome</h1>
                <hr class="light">
                <p class="text-faded">Après notre première édition exceptionnelle, ENET ROBOTS arrive bientôt dans sa
                    2ème édition.
                    Soyez nombreux et prouvez que vous êtes parmi les meilleurs concurrents, qui guideront leurs équipes
                    vers la victoire.
                    Ne manquez pas cette occasion de montrer vos compétences. Soyez présent à notre journée de robotique
                    qui aura lieu le 23 février 2020 à l'École nationale d'électronique et de télécommunications de
                    Sfax.</p>
                <a target="_blank" href="https://www.facebook.com/events/525602751368694/"
                    class="btn btn-default btn-xl">Savoir plus</a>
            </div>
        </div>
    </div>
</section>