<section id="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Join us</h2>
                <hr class="primary">
                <p>
                    ENET’COM Robotics Club is a non-profit scientific and technical club, created in 2012 within the
                    National School of Electronics and Telecommunications of Sfax (ENET'COM), bringing together each
                    year more than 100 members who are mainly engineering students.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>+100 Members</h3>
                    <p class="text-muted">each year</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>4 Projects</h3>
                    <p class="text-muted">made by the club</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>5 Training courses</h3>
                    <p class="text-muted">planned for the current academic year</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>1 Event</h3>
                    <p class="text-muted">organized annually</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="join" class="btn btn-join btn-xl">Registration form</a>
            </div>
        </div>
    </div>
</section>